/* reset default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: top center;
}

/* ===== resume container ===== */

.resume {
    width: 8.5in;
    min-height: 11in;
    background: white;
    transform-origin: top center;
    padding: 0.43in 0.5in 0.19in 0.5in;
}

/* ===== header section ===== */

.resume-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3pt;
    box-sizing: border-box;
}


.name {
    font-family: "Palatino Linotype", Georgia, "Times New Roman", serif;
    font-size: 32pt;
    letter-spacing: 0.5pt;
    font-weight: bold;
}
  
.contact {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 10.5pt;
    line-height: 1.15;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

.contact span {
    letter-spacing: -0.4pt;
    white-space: normal;
    word-break: break-word;
}

/* ===== section styling ===== */

/* ----- section header ----- */

.section-title {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14pt;
    font-weight: bold;
    padding: 0 1.25pt;
}

.section-title span {
    margin-bottom: 0.75pt;
    display: block;
}

.divider {
    width: 100%;
    height: 0.25pt;
    background-color: #000;
    opacity: 0.75;
    margin-bottom: 3pt;
    margin-top: 0;
}

/* ===== education section ===== */

.education-entry, .experience-entry {
    display: flex;
    flex-direction: column;
    padding: 0 2.5pt;
}

/* ----- school GPA dates pairing ----- */

/* school, gpa, dates line */
.school-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5pt;
    line-height: 1;
}

/* school, gpa pairing */
.school-gpa-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 4pt;
}

/* school name */
.school-name {
    justify-self: flex-start;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 12pt;
    font-weight: bold;
}

/* school gpa */
.school-gpa {
    font-family: "Times New Roman", serif;
    font-size: 11pt;
    font-weight: normal;
    font-style: italic;
}

.school-dates {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    font-weight: normal;
    font-style: italic;
}

/* ----- degree, discipline, minor, location pairing ----- */

/* degree, location pairing */
.degree-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* degree type */
.degree-type {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 2.5pt;
}

/* school location */
.school-location {
    justify-self: flex-end;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 2.5pt;
}

/* ----- highlights for education section ----- */

.highlights-lines {
    display: flex;
    flex-direction: column;
    gap: 3pt;
}

.highlight-line {
    display: flex;
    flex-direction: row;
}

.highlight-title {
    display: flex;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 10pt;
    font-weight: bold;
    margin-right: 4pt;
}

.highlight-content {
    display: flex;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 10pt;
    font-weight: normal;
}

/* ===== experience section ===== */

/* ----- title & dates pairing ----- */

.experience-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5pt;
    line-height: 1;
}

.experience-title {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 12pt;
    font-weight: bold;
}

.experience-dates {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    font-weight: normal;
    font-style: italic;
}

/* ----- company, skills, location pairing ----- */

.company-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1pt;
    margin-bottom: 2.5pt;
    line-height: 1;
}

.company-name {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 12pt;
    font-weight: bold;
}

.company-skills {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    font-weight: normal;
    font-style: italic;
}

.company-location {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    font-weight: normal;
    font-style: italic;
}

/* ----- description ----- */

.description-line {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5pt;
}

.description-content {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    font-weight: normal;
}