/* reset default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: top center;
}

/* ===== resume container ===== */

.resume {
    width: 8.5in;
    min-height: 11in;
    background: white;
    transform-origin: top center;
    padding: 0.43in 0.5in 0.19in 0.5in;
}

/* ===== header section ===== */

.resume-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 6pt;
    box-sizing: border-box;
}


.name {
    font-family: "Palatino Linotype", Georgia, "Times New Roman", serif;
    font-size: 32pt;
    letter-spacing: 0.5pt;
    margin-bottom: 3pt;
    font-weight: bold;
}
  
.contact {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 10.5pt;
    line-height: 1.15pt;
    margin-top: 3pt;
    margin-bottom: 2pt;
}

.contact span {
    letter-spacing: -0.4pt;
    white-space: nowrap;
}

/* ===== section styling ===== */

/* section header */

.section-title {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 10pt;
}

.divider {
    width: 100%;
    height: 0.25pt;
    background-color: #000;
    opacity: 0.75;
    margin-bottom: 10pt;
}