<!DOCTYPE html>
<html class="body-wrapper" lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{name} - Resume</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>{{template_css}}</style>
    </head>

    <body>
        <main class="resume">

            <!-- Header -->
            <header class="resume-header">
            <h1 class="name">{name}</h1>
            <p class="contact">
                <span>{header_line}</span>
            </p>
            </header>

            <!-- Summary -->
            <section class="section">
                <h2 class="section-title">
                    <span>Professional Summary</span>
                    <div class="divider"></div>
                </h2>
                <div class="summary-section">{summary}</div>
            </section>

            <section class="section">
                <h2 class="section-title">
                    <span>Education</span>
                    <div class="divider"></div>
                </h2>
                {education_entries}
            </section>

            <section class="section">
                <h2 class="section-title">
                    <span>Experience</span>
                    <div class="divider"></div>
                </h2>
                {experience_entries}
            </section>

            <section class="section">
                <h2 class="section-title">
                    <span>Projects</span>
                    <div class="divider"></div>
                </h2>
                {project_entries}
            </section>

            <section class="section">
                <h2 class="section-title">
                    <span>Skills</span>
                    <div class="divider"></div>
                </h2>
                {skill_entries}
            </section>

        </main>
    </body>
</html>
