__pycache__/
venv/

# Database
*.db
*.sqlite
*.sqlite3

node_modules/

.env

backend/ai/debug_outputs/
backend/ai/debug_inputs/

pytest_cache/
.vscode/

.cursor/
backend/ai/debug_out
backend/ai/debug_out/