/* index.css - tailwind directives */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* global font */
@layer base {
	body {
		font-family: 'Inter', system-ui, sans-serif;
	}
}

/* custom component classes */
@layer components {
	.label {
		@apply block text-[0.875rem] font-[500] text-gray-700 mb-1;
	}

	.input {
		@apply w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring-1 focus:ring-brand-pink focus:border-brand-pink hover:border-gray-400 bg-white transition-all duration-300 ease-in-out;
	}

	.labelInputPair {
		@apply flex flex-1 flex-col;
	}
}

/* remove default focus outline from all buttons */
button:focus {
	outline: none;
}

input:focus {
	outline: none;
}

/* hide browser's default password reveal button ( Edge / Chrome) */
input[type="password"]::-ms-reveal {
	display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
	display: none !important;
}
