/* index.css - tailwind directives */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* remove default focus outline from all buttons */
button:focus {
	outline: none;
}

/* hide browser's default password reveal button ( Edge / Chrome) */
input[type="password"]::-ms-reveal {
	display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
	display: none !important;
}
